<div class="loading-placeholder">
    <ul class="list-group">
        <li class="list-group-item">
            <span class="fakeconent bg-pulse-grey d-block w-100" style="height: 25px;"></span>
        </li>
        <li class="list-group-item">
            <span class="fakeconent bg-pulse-grey d-block w-100" style="height: 25px;"></span>
        </li>
        <li class="list-group-item">
            <span class="fakeconent bg-pulse-grey d-block w-100" style="height: 25px;"></span>
        </li>
        <li class="list-group-item">
            <span class="fakeconent bg-pulse-grey d-block w-100" style="height: 25px;"></span>
        </li>
        <li class="list-group-item">
            <span class="fakeconent bg-pulse-grey d-block w-100" style="height: 25px;"></span>
        </li>
        <li class="list-group-item">
            <span class="fakeconent bg-pulse-grey d-block w-100" style="height: 25px;"></span>
        </li>
        <li class="list-group-item">
            <span class="fakeconent bg-pulse-grey d-block w-100" style="height: 25px;"></span>
        </li>
    </ul>
</div>