<a class="list-group-item list-group-item-action flex-column align-items-start fadein" href="{{{url}}}">
    <div class="d-flex w-100 justify-content-between">
        <div class="images">
            <img src={{userimg}}>
            <i class="fa {{icon}}"></i>
        </div>
        <p>
            {{#itsmine}}
                {{#str}}you, block_evokefeed{{/str}}
            {{/itsmine}}
            {{^itsmine}}
                {{userfullname}}
            {{/itsmine}}
            <small>{{#str}}badge_earnedbadge_string, block_evokefeed{{/str}}</small>
        </p>
    </div>
</a>